#content3{
	text-align: center;
	background-color: white;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-family: sans-serif;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}


.velo ul{
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	margin-top: 10px;
	list-style-type: none;
}

.velo li{
	padding: 0;
	margin: 0;
	margin-top: 0;
}

#topContent{
	background-color: rgba(0,0,0,.1);
	margin: 0;
	padding: 20px;
	text-align: justify;
	overflow: hidden;
}

#middleContent{
	background-color: rgba(0,0,0,.2);
	margin: 0;
	padding: 20px;
	padding-top: 5px;
}

#bottomContent{
	background-color: rgba(0,0,0,.3);
	margin: 0;
	padding: 0;
}

input[type=text]{
	width: 50%;
	height: 30px;
	border-radius: 10px;
	outline: none;
	font-size: 15px;
	text-align: center;
	border: none;
	margin: 5px;
}

input[type=text]:focus{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,.3);
}


#payeeButtons {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
}

#existingPayeeButton{
	width: 50%;
	float: left;
}

#newPayeeButton{
	width: 50%;
	float: right;
}

#existingPayee{
	font-size: 25px;
	color: black;
	background-color: white;
	border-radius: 10px;
	border: none;
	outline: 0;
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 10px;
}

#existingPayee:hover{
	background-color: #333;
	color: white;
}

#existingPayee:active{
	background-color: white;
	color: black;
}

#newPayee{
	font-size: 30px;
	color: white;
	background-color: rgb(52, 106, 150);
	border-radius: 10px;
	border: none;
	outline: 0;
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 10px;
}

#newPayee:hover{
	background-color: rgb(85, 195, 232);
}

#newPayee:active{
	background-color: white;
	color: black;
}

#sendPaymentButton{
	outline: none;
	font-size: 25px;
	width: 50%;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	background-color: rgb(85, 195, 232);
	color: white;
	border: none;
}

#sendPaymentButton:hover{
	background-color: rgb(52, 106, 150);
}

#sendPaymentButton:active{
	background-color: white;
	color: black;

}

.velo h1,h2,h3,h4{
	margin: 0;
	padding: 0;
}

.velo p {
	color:black;
	margin: 0;
	padding: 0;
}

#topContent h1{
	background-color: rgb(85, 195, 232);
	padding: 5px;
	padding-left: 15px;
	color: white;
	margin-bottom: 10px;
	border-radius: 10px;
}

#bottomContent{
	display: none;
}


input[type=button]{
	font-size: 20px;
	margin: 5px;
	background-color: rgb(85, 195, 232);
	color: white;
	padding: 5px;
	font-family: Arial;
	width: 100%;
	border: none;
	border-radius: 10px;
	outline: none;
}

input[type=button]:hover {
	background-color: rgba(255,255,255,.8);
	color: black;
	box-shadow: inset 0px 0px 3px black;
}

input[type=button]:active {
	background-color: #333;
	color: white;
}

#payeeSelect{
	background-color: rgba(255,255,255,.8);
	margin: 10px;
	border-radius: 10px;
	padding-bottom: 5px;
}